$button-green: #38ef7d;
$text-green: #22bf86;
$text-black: #303030;
$menu-white: #ffffffde;
$white: #fff;
$vin-gray: #707b8c;
$menu-gray: #35373a;
$menu-item-gray: #bababa;
$menu-checkbox-gray: #525559;
$menu-checkbox-checked-green: #38ef7d;
$parameter-color: #acb8bf;
$shadow-gray: #0e2a6029;
